.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: 18px;
  color: white;
  margin: 0;
  padding: 50px;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}

.orange {
  color: orange;
}

.purple {
  color: purple;
}

.rate-container {
  border-top: 3px solid purple;
  max-width: 300px;
}

.rate-container .fa-star {
  font-size: 30px;
  cursor: pointer;
}